body {
    font-size: 16 px;
    background-color: rgb(162, 162, 207);
    font-family : Arial, Helvetica, sans-serif;
}

header,
main,
footer {
    max-width:960px;
    margin: 0 auto;
}

header {
    background-color: rgb(201, 203, 221);
    color: rgb(218, 205, 240);
    display:flex;
    align-items: center;
    justify-content: space-around;
}

header>img {
    width: 100px;
    height: auto;
}

h1 {
    color:black;
    font-family: 'Poiret One', cursive;
   
}

header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

header nav  ul li {
    flex:11 auto
}

header nav ul li a {
    color: rgb(3, 9, 37);
    text-decoration: none;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    display:block;
    padding: .75rem;
   }
a :focus,
.active {
    color: blue;
    border-bottom: 1px solid royalblue;
    padding-bottom: .2rem;
}

header nav ul li a:hover{
    color:rgb(239, 245, 239);

}
.wrapper{
    display:grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
}
main section p{
    margin: 5px;
    border: 1px solid;
    padding: 5px;
    background-color: whitesmoke;
}



footer{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.social {
    text-align: right;
}

.information {
    text-align:center;
    width: 800 px;
}

.social img {
    width: 50px;
    height: auto;
}